.page-user
  #content
    .tabs
      float none

    .tabs
    form
    .profile
      width 960
      margin auto
      margin-top 20

  .profile
    h3
    > dl
      position relative
      float left
      width 100%
      margin-bottom 10
