body > header
  wrapper(content-width-desktop)
  fixed z 10
  height 75
  background-color white
  box-shadow 0 0 5 0 rgba(black, .25)
  h1
    font-size 40/75px
    text-transform uppercase
  #app-logo
    png-size logo