/*
 * fluid layout
 * ------------
 * set font-size relative to window width; all subsequent
 * font and block size are automatically converted to `rem` units
 * by the `postcss-pxtorem` plugin, with a root value of 1
 */
html
  font-size unit(($rem-root-value * 100 / base-width-desktop), 'vw')

  +below(breakpoint-mobile)
    &.device-mobile
      font-size $rem-root-value !important

  +above(breakpoint-desktop)
    font-size $rem-root-value !important

  /*
   * jumpy scroll bar fix
   */
  /* 1st alt -- force vertical scrollbar */
  /* 2rd alt -- force width, hide part of the page under scrollbar, disable h-scroll */
  /* 3rd alt -- force margin, assert 'overflow: auto', async */

body
  color color-text color-background
  font-family font
  font-weight normal
  font-size 16 / 1.45
  overflow-x hidden
  clearfix()
