form
  fieldset
    max-width 500
    margin-bottom 35

    legend
      font-weight bold
      text-transform uppercase

  .form-item
    margin-bottom 20
    width auto
    clearfix()

    label
      float left
      min-width 150

    input
    select
    textarea
      float right