/*
 * html5 form style
 */

@require 'input.styl'

/*
 * https://www.tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/
 */



/*
 * form validation style
 */

input[value]
  &[type=email]
  &[type=url]
  &[type=date]
  &[type=time]
  &[type=tel]
  &[type=number]
  &[type=range]
  &[pattern]
    // valid/invalid pseudo-selector (apply all the time)
    &:valid
      box-shadow 0 0 2 0 green
    &:invalid
      box-shadow 0 0 2 0 red
    // user-valid/user-invalid pseudo-selector
    // apply upon leaving (on blur) the input field
    &:-moz-ui-valid
    &:user-valid // firefox seems to cancel -moz-ui-valid, if user-valid is defined
      // box-shadow 0 0 2 0 green
      // border-color darkgreen
      // color darkgreen lightgreen
    &:-moz-ui-invalid
    &:user-invalid
      box-shadow 0 0 2 0 red
      border-color color-red
      color color-red pink

input
textarea
  &::-webkit-validation-bubble
      &-arrow
        //
        &-clipper
          //
      &-heading
        //
      &-message
        //
      &-text-block
        //


/*
 * placeholder style
 */

input
textarea
  &::placeholder
    color color-text
    transition opacity 5s ease
    opacity .6
  &:focus
    &::placeholder
      opacity .4
  &:placeholder-shown
    // style the input when placeholder is shown
    background-color #ffffee
    border input-border-style


/*
 * HTML5 form items
 * with custom controller
 * - color, number, range, search
 * with pre-established validation pattern
 * - url, email, tel
 * Date & time related input
 * - date, datetime-local, time, week, month
 */

/*
 * Color picker
 */
input[type=color]
  border input-border-style
  border-radius 2.5
  size 50 30
  padding 0
  background-color color-white
  appearance none
  &::-moz-color-swatch
    border none
  &::-webkit-color-swatch
    border none
  &::-webkit-color-swatch-wrapper
    padding 0


/*
 * Range input
 */

input[type=range]
  //


/*
 * Search field
 */

input[type=search]
  &::-webkit-search-decoration
    display none


/*
 * Date & time picker
 * (chrome, firefox)
 */
input[type=date]
input[type=time]
  //

/*
 * Week & month picker
 * (chrome only)
 */
input[type=week]
input[type=month]
  //

/*
 * Local Datetime
 * (chrome only)
 */
input[type=datetime-local]
  //
