
/* size & padding */
input-height = 28px // height must be specified in px as it's also used for line-height
textarea-height = auto
input-padding =
  padding 2 3
/* font */
input-font = font
input-font-size = 13px
/* border style */
input-border-style = 1 solid lighten(color-text, 30)
/* colors */
input-text-color = black
input-bg-color = white
input-invalid-color = red

/*
 * Classic input field
 * Text input
 * - text, password
 * Special widget
 * - radio, checkbox, file
 *
 * - hidden
 * Button input
 * - button, submit, reset, image
 */
select
textarea
input[type=text]
input[type=password]
input[type=search]
input[type=email]
input[type=number]
input[type=tel]
input[type=date]
input[type=time]
input[type=url]
  font-family font
  font-size inherit
  color lighten(color-text, 30) color-background
  outline 0
  vertical-align top
  padding 0 10
  border input-border-style
  border-radius 2.5
  transition color 5s ease
  transition .3s ease
  transition-property opacity, box-shadow, color, background-color, border-color
  box-shadow 0 0 0 0 transparent

  // size 100% input-height
  &:focus
    color color-text
    border-color color-text
    box-shadow 0 0 2 0 color-blue

  &::-ms-clear // remove ie/edge clear button
    display none

input
  line-height 30px

textarea
  line-height 1.25
  padding-top .5em
  padding-bottom .5em

textarea
select[size]
select[multiple]
  height auto

textarea
  min-height 50

input[type=file]
input[type=radio]
input[type=checkbox]
  &:focus
  &:active
    box-shadow none

input[disabled]
select[disabled]
textarea[disabled]
  background-color #eee

button[disabled]
input[disabled]
select[disabled]
select[disabled] option
option[disabled]
textarea[disabled]
  box-shadow none
  user-select none
  color #888
  cursor default

input[required]
button[required]
textarea[required]
  // required style

input[type=radio]
input[type=checkbox]
  {visually-hidden}

  + label
    position relative

    &:after
    &:before
      content ''
      absolute top left

    &:after
      border input-border-style

  &:disabled + label
    color #888

    &:before
      border #888

input[type=radio]
  + label
    padding-left 22

    &:after
    &:before
      margin-top 1
      size 18
      border-radius 50%

    &:before
      padding 4
      background-clip content-box
      background-color color-blue
      transform scale(0)
      transition transform .1s ease

  &:checked + label
    &:before
      transform scale(1)

  &:disabled + label
    &:before
      background-color #888

input[type=checkbox]
  + label
    padding-left 20

    &:after
    &:before
      margin-top 2
      size 16

    &:after
      border-radius 2.5

    &:before
      content '✓' // alt. '✔'
      font-size 18 / 16px
      text-align center
      font-family font-system-ui
      font-weight bold
      color transparent
      user-select none
      clip rect(0, 0, 16px, 0)

  &:checked + label
    &:before
      color dodgerblue
      transition clip .15s ease
      clip rect(0, 16px, 16px, 0)

  &:disabled + label
    &:before
      color #888

/*
 * button-style submit, reset
 */
@require '../button'

input[type=reset]
input[type=submit]
input[type=button]
  @extend $button-default

/*
 * file picker button
 * https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
 */
input[type=file]
  {visually-hidden}

  + label
    @extend $button-default
