/*
 * stylus helpers
 */
ellipsis =
  display block
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
crisp-edges =
  image-rendering optimizeSpeed
  image-rendering -moz-crisp-edges
  image-rendering -o-crisp-edges
  image-rendering -webkit-optimize-contrast
/*
 * visually hide content while still visible
 * for screen reader
 */
visually-hidden =
  position absolute
  display inherit
  clip rect(0, 0, 0, 0)
  // border 0
  // padding 0
  // size 1px
  // margin -1px
  // clip-path inset(50%)
  // overflow hidden
  // white-space nowrap
/*
 * Animations (timing functions)
 * cf. matthewlein.com/tools/ceaser
 */
ease-bounce = cubic-bezier(.175, .885, .32, 1.275)
ease-bounce-soft = cubic-bezier(.175, .885, .32, 1.1)
